{% extends "base_generic.html" %}
{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>

    </div>

    <div class="card-deck">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Customers</h5>
      <p class="card-text">Customers :{{num_customers}} </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">LoanBills</h5>
      <p class="card-text">LoanBills : {{num_loanbills}}
                      <br />Total Loan Amount : {{totalLoan.total}}
                    <br />Total Gold Loan : {{totalgla.total}}
                  <br />Total Silver Loan : {{totalsla.total}}
                <br />Total Brass Loan : {{totalbla.bla}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Releases</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<br />
<div class="jumbotron">
  <h1 class="display-4">Hello, Girvi</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

{% endblock %}
